.theme-toggle{
  position:absolute;
  top:20px;
  right:20px;
  z-index:10;
  display:flex;
  gap:10px;
}

.theme-toggle button{
  padding:8px 12px;
  border-radius:10px;
  border:none;
  cursor:pointer;
  font-size:16px;

  background:var(--card-bg);
  color:var(--text-main);

  border:1px solid var(--border-color);

  transition:0.3s;
}

.theme-toggle button:hover{
  transform:scale(1.1);
}