.dashboard{
  min-height:100vh;
  display:flex;
  position:relative;
  overflow:hidden;
  color:var(--text-main);

  background:
    radial-gradient(circle at 75% 20%, rgba(255,60,190,.30), transparent 28%),
    radial-gradient(circle at 20% 85%, rgba(120,40,255,.28), transparent 32%),
    linear-gradient(135deg,#050007,#160019,#08000d);
}

/* MENU */
.menu{
  width:280px;
  height:100vh;
  z-index:2;

  display:flex;
  flex-direction:column;
  gap:14px;

  padding:28px 18px;

  background:var(--menu-bg);
  backdrop-filter:blur(22px);

  border-right:1px solid var(--menu-border);
}

/* LINKS */
.menu a{
  color:var(--text-main);
  text-decoration:none;

  padding:15px 18px;
  border-radius:18px;

  background:var(--card-bg);
  border:1px solid var(--border-color);

  font-weight:600;
  transition:.3s;
}

.menu a:hover{
  transform:translateX(8px);
  color:white;

  background:rgba(255,90,210,.12);
  border-color:var(--primary);
}

/* LOGOUT */
.logout-btn{
  margin-top:auto;
  padding:15px 18px;
  border-radius:18px;

  border:1px solid var(--border-color);
  background:var(--card-bg);

  color:var(--text-main);
  font-weight:700;
  cursor:pointer;

  transition:.3s;
}

.logout-btn:hover{
  transform:translateX(8px);
  background:rgba(255,40,120,.25);
  color:white;
}

/* CONTENT */
.content{
  flex:1;
  padding:50px;
}

.content h1{
  font-size:3rem;

  background:linear-gradient(
    90deg,
    var(--text-main),
    var(--primary),
    var(--secondary)
  );
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
}

.content p{
  color:var(--text-main);
}

/* CARD */
.content-card{
  margin-top:35px;
  max-width:650px;

  padding:32px;
  border-radius:28px;

  background:var(--card-bg);
  border:1px solid var(--border-color);

  backdrop-filter:blur(18px);
}

/* GAME AREA */
#game{
  width:520px;
  height:320px;

  border:2px solid var(--primary);
  border-radius:25px;

  box-shadow:
    0 0 25px var(--primary),
    inset 0 0 40px rgba(255,0,200,.15);
}

/* MONSTER */
.monster-area{
  width:520px;
  height:530px;

  display:flex;
  align-items:center;
  justify-content:center;

  border-radius:35px;

  background: radial-gradient(
    circle,
    var(--secondary),
    var(--bg-main)
  );

  box-shadow:
    0 0 45px var(--primary),
    inset 0 0 45px rgba(0,0,0,.8);
}

/* CHAINS */
.chain{
  color:var(--text-main);
  text-shadow:0 0 18px var(--primary);
}