<div class="dashboard">

    <aside class="menu">

        <h2>Sistema</h2>

        <a (click)="abrirJogo()" [class.active]="tela === 'jogo'">🎮 PokeGame</a>

        <a (click)="abrirGastos()" [class.active]="tela === 'gastos'">💰 Gastos</a>

        <a (click)="abrirConfig()" [class.active]="tela === 'config'">⚙️ Configurações</a>


        <a class="report-btn" (click)="report()">
            🛠 Report problems
        </a>

        <a class="logout-btn" (click)="logout()">
            ⟵ Logout
        </a>

    </aside>

    <main class="content">

        <!-- TELA INICIAL -->
        <div *ngIf="tela === 'home'">
            <h1>Bem-vindo ao Dashboard</h1>
            <p>Selecione uma opção no menu.</p>
        </div>

        <!-- JOGO -->
        <app-pokemon-game *ngIf="tela === 'jogo'"></app-pokemon-game>
        <!-- GASTOS -->
        <app-gastos *ngIf="tela === 'gastos'"></app-gastos>

        <app-config *ngIf="tela === 'config'"></app-config>

    </main>

</div>