.dashboard{
  display:flex;
  height:100vh;
}

.menu{
  width:250px;
  background:#111827;
  color:white;

  display:flex;
  flex-direction:column;

  padding:20px;
  gap:15px;
}

.menu a{
  color:white;
  text-decoration:none;

  padding:12px;
  border-radius:10px;

  transition:.3s;
}

.menu a:hover{
  background:#374151;
}

.content{
  flex:1;
  padding:40px;
}