<div class="hero">

    <div class="register-card">
        <h1>Register</h1>

        <input type="text" placeholder="User" [(ngModel)]="user.name">

        <input type="password" placeholder="Password" [(ngModel)]="user.password">

        <input type="email" placeholder="Email" [(ngModel)]="user.email" #email="" ngModel="required">

        <button class="register-btn" (click)="createUser()">
            Enter
        </button>

        <p class="erro" *ngIf="mensagemErro">
            {{ mensagemErro }}
        </p>

        <button class="return-btn" routerLink="/">
            ⟵ Return
        </button>


    </div>