<div class="hero">

  <div class="content">

    <h1>Unnamed company</h1>
    <p>Absolute focus on money</p>

    <div class="buttons">
      <button routerLink="/login">
        Login
      </button>

      <button class="register-btn" routerLink="/register">
        Register
      </button>
    </div>

    <div class="desenvolvedores">
      <h2>Developers</h2>

      <div class="dev-list">
        <p>Kauã M.</p>
        <!-- <p>Guilherme S.</p>
        <p>Lucas M.</p> -->
      </div>

    </div>

  </div>

</div>