*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial,sans-serif;
}

body{
  overflow:hidden;

}

.login-btn{
  width:100%;
  padding:15px;

  border:none;
  border-radius:30px;

  margin-bottom:15px;

  color:white;
  font-weight:bold;
  cursor:pointer;

  background:
  linear-gradient(
    135deg,
    #ff00c8,
    #7600ff
  );

  box-shadow:
  0 0 20px rgba(255,0,200,.7);

  animation:pulse 2s infinite;
}

.back-btn{

  width:100%;
  padding:15px;

  border-radius:30px;

  border:1px solid rgba(255,0,200,.4);

  background:rgba(255,255,255,.05);

  color:#ff7be9;

  cursor:pointer;

  backdrop-filter:blur(10px);

  transition:.4s;

}

.back-btn:hover{

  transform:translateY(-4px);

  background:rgba(255,0,200,.15);

  box-shadow:
    0 0 20px rgba(255,0,200,.6);

}

/* FUNDO DA CAPA */

.hero{
  min-height:100vh;

  display:flex;
  justify-content:center;
  align-items:center;

  position:relative;
  overflow:hidden;

  background:
    radial-gradient(circle at top, rgba(255,0,180,0.45), transparent 35%),
    radial-gradient(circle at bottom, rgba(120,0,255,0.45), transparent 40%),
    linear-gradient(135deg,#050008,#160020,#320044,#000);

  animation:fundo 12s infinite alternate;
}

/* ENERGIA */

.hero::before{
  content:"";
  position:absolute;

  width:500px;
  height:500px;

  background:rgba(255,0,200,.25);

    border-radius:50%;

  filter:blur(100px);

  animation:energia 8s infinite alternate;
}

/* LINHA ESCANEANDO */

.hero::after{
  content:"";

  position:absolute;
  inset:0;

  background:
  linear-gradient(
    90deg,
    transparent,
    rgba(255,255,255,.08),
    transparent
  );

  transform:skewY(-10deg);

  animation:scan 6s linear infinite;
}


/* LOGIN */

.login-card{

  z-index:2;

  width:400px;

  padding:40px;

  border-radius:25px;

  text-align:center;

  backdrop-filter:blur(15px);

  background:rgba(15,0,25,.55);

  border:1px solid rgba(255,0,200,.3);

  box-shadow:
  0 0 25px rgba(255,0,200,.5),
  inset 0 0 25px rgba(255,0,200,.1);

  animation:
  entrada 1.5s ease,
  flutuar 4s infinite ease-in-out;
}

.login-card h1{

  color:#ff4fd8;

  font-size:3rem;

  margin-bottom:10px;

  text-transform:uppercase;

  text-shadow:
  0 0 15px #ff00c8,
  0 0 35px #ff00c8;

  animation:glow 2s infinite alternate;
}

.login-card p{
  color:#f0d6ff;
  margin-bottom:30px;
}


/* INPUTS */

.login-card input{

  width:100%;

  padding:15px;

  margin-bottom:20px;

  border:none;

  border-radius:30px;

  outline:none;

  color:white;

  background:rgba(255,255,255,.08);

  border:1px solid rgba(255,0,200,.2);

  transition:.4s;
}

.login-card input::placeholder{
  color:#d8a5ff;
}

.login-card input:focus{

  transform:scale(1.03);

  border:1px solid #ff00c8;

  box-shadow:
  0 0 15px rgba(255,0,200,.8);
}


/* BOTÃO */

.login-card button{

  width:100%;

  padding:15px;

  border:none;

  border-radius:30px;

  color:white;

  font-weight:bold;

  cursor:pointer;

  background:
  linear-gradient(
    135deg,
    #ff00c8,
    #7600ff
  );

  box-shadow:
  0 0 20px rgba(255,0,200,.7);

  animation:pulse 2s infinite;
}

.login-card button:hover{
  transform:scale(1.05);
}


/* ANIMAÇÕES */

@keyframes energia{

0%{
transform:translate(-250px,-150px);
}

100%{
transform:translate(250px,150px)
scale(1.5);
}

}

@keyframes glow{

0%{
text-shadow:
0 0 10px #ff00c8;
}

100%{
text-shadow:
0 0 30px #ff00c8,
0 0 70px #b300ff;
}

}

@keyframes pulse{

0%{
transform:scale(1);
}

50%{
transform:scale(1.05);
}

100%{
transform:scale(1);
}

}

@keyframes flutuar{

0%{
transform:translateY(0);
}

50%{
transform:translateY(-15px);
}

100%{
transform:translateY(0);
}

}

@keyframes scan{

0%{
transform:translateX(-100%)
skewY(-10deg);
}

100%{
transform:translateX(100%)
skewY(-10deg);
}

}

@keyframes entrada{

from{
opacity:0;
transform:translateY(50px);
}

to{
opacity:1;
transform:translateY(0);
}

}

@keyframes fundo{

0%{
filter:hue-rotate(0deg);
}

100%{
filter:hue-rotate(20deg);
}

}