<div class="hero">

    <div class="login-card">

        <h1>Login</h1>

        <input type="text" placeholder="Usuário" [(ngModel)]="usuario.nome">

        <input type="password" placeholder="Senha" [(ngModel)]="usuario.senha">

        <input type="email" placeholder="Email" [(ngModel)]="usuario.email">

        <button class="login-btn" (click)="criarUsuario()">
            Enter
        </button>

        <button class="return-btn" routerLink="/">
            ⟵ Return
        </button>

    </div>

</div>