<div class="hero">

    <div class="login-card">
        <h1>Login</h1>

        <input type="text" placeholder="User" [(ngModel)]="user.name">

        <input type="password" placeholder="Password" [(ngModel)]="user.password">

        <button class="login-btn" (click)="login()">
            Enter
        </button>

        <p *ngIf="mensagemErro" class="erro">
            {{ mensagemErro }}
        </p>

        <button class="return-btn" routerLink="/home">
            ⟵ Return
        </button>
    </div>

</div>